body{
    background-color: aqua;
}
h1{
    text-align: center;
    color: aqua;
}
.inicio{
    text-align: center;
    border: solid black 3px;
    border-radius: 10px;
    background-color: white;
}
